body {
  margin: 0;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right,#A8E6CE,#DCEDC2,#FFD3B5,#FFAAA6,#FF8C94 );
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right,#A8E6CE,#DCEDC2,#FFD3B5,#FFAAA6,#FF8C94 );
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
}

a {
  text-decoration: none;
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}